<div id="form-container">
  <div class="container">
    <form>
      <select id="from" data-placeholder="From" onchange={{action loadVersion 'from'}}>
        <option></option>
      </select>

      <select id="to" data-placeholder="To" onchange={{action loadVersion 'to'}}>
        <option></option>
      </select>

      <button id="submit" onclick={{action load}}> See changes </button>
    </form>
  </div>
</div>

<div class="container">
  {{#if downloadDiffUrl}}
    <p>
      See the changes between <strong>{{from}}</strong> and <strong>{{to}}</strong> of Ember apps.
      <br>
      <a id="download" download href="{{downloadDiffUrl}}">Download diff</a>
    </p>
  {{/if}}
  <div id="diff"></div>
</div>
